@inherits LayoutComponentBase

<div class="page">
    <main class="main-content">
        @Body
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    <div class="blazor-error-content">
        <strong>发生未处理的错误</strong>
        <span class="blazor-error-message"></span>
    </div>
    <div class="blazor-error-actions">
        <a href="." class="reload">重新加载</a>
        <span class="dismiss">✕</span>
    </div>
</div>
